@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0;
  font-family: 'Roboto';
}

body {
  background-color: #dddddd;
  overflow: hidden;
}

#attribution {
  z-index: 4;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  background: #fff;
  opacity: 0.8;
  border-radius: 5px;
}

#tooltip {
  z-index: 0;
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
}

#map {
  z-index: 1;
  width: 100%;
  height: 100%;
}

#menu:hover {
  width: 375px;
}

#menu {
  position: fixed;
  z-index: 2;
  top: 0;
  overflow-y: scroll;
}

#menu::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.fade {
  opacity: 0;
}

#menu,
.fade {
  transition-property: opacity;
  transition-duration: 0.2s;
}

#menu button {
  display: block;
  height: 100px;
  width: 150px;
  padding: 0px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px #c3c3c3;
  background-size: cover;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu .label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  font-size: 20px;
  font-weight: 200;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu button,
#menu .label {
  line-height: 125px;
}

#menu button:hover {
  height: 125px;
  width: 200px;
}

#menu button:focus,
#menu .selected {
  outline: #eeeeee;
  box-shadow: 0px 0px 10px 0px #aaaaaa;
}

#menu .selected,
#menu .selected > .label,
#menu .selected:hover,
#menu .selected:hover > .label {
  height: 125px;
  width: 200px;
  font-weight: 400;
}

#menu button:focus > .label,
#menu .selected > .label {
  background-color: rgba(0, 0, 0, 0.4);
}

#menu button,
#menu button:hover,
#menu .label,
#menu .selected,
#menu .selected > .label {
  transition-property: width, height, line-height;
  transition-duration: 0.2s;
}
